# Environment — must be "prod" for SSL DB connections
VITE_ENV=                   # dev | prod

# API
API_PORT=                   # 3000
API_INTERNAL_URL=           # http://localhost:3000
CLIENT_URL=                 # http://localhost:5173

# Database
DB_USER=                    # 
DB_PASS=                    # 
DB_HOST=                    # localhost
DB_PORT=                    # 5432
DB_NAME=                    # bwgr
PGPOOL_MAX=                 # optional, defaults to 10

# Dev Only
VITE_API_URL=               # http://localhost:3000
LOG_LEVEL=                  # optional, defaults to info