:root {
  --app-font-family: "Alegreya";
  --app-font-weight: 600;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-weight: var(--app-font-weight);
}
